@mixin mobile-height {
  @include respond-to($phone) {
    height: auto !important;
    padding: 60px 20px;
  }
}

@mixin flex-center-center {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin background {
  background-size: cover !important;
  background-position: 50% !important;
}
