@import "../mixins/media-query";

button, input[type=submit] {
	padding: 15px 25px;
	color: white;
	border: 1px solid white;
	background: transparent;
	margin: 0 6px;
	font-size: 14px;
	font-family: $button-font;
	text-transform: uppercase;
	cursor: pointer;

	transition: all 200ms;

	@include respond-to($phone) {
		font-size: 14px;
	}

	&.active {
		color: #333;
		background: white;
	}
	&:hover {
		background: white;
		color: #333;
	}
}

.button-row {
	margin-top: 20px;
	z-index:1;

	&.dark {
		button {
			color: black;
			border-color: black;
			&.active {
				color: white;
				background: black;
			}
			&:hover {
				background: black;
				color: white;
			}
		}
	}
}
