@import "../mixins/media-query.scss";

.card-row {
  display:flex;
  flex-direction: row;
  margin-top: 20px;
  z-index: 10  ;

  width:950px;
  height:400px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  margin: 20px auto;

  @include respond-to($tablet-portrait) {
    width: 600px;
  };

  @include respond-to($phone) {
    width: 300px;
  };

}

.card {

    height: 400px;
    width: 300px;
    min-width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: $grey;
    background-size: cover !important;
    background-position: top !important;
    background-blend-mode: overlay !important;

    transition: all 400ms ;

    padding: 15px;
    margin: 10px;


    @include respond-to($phone) { margin: 0 }

    p { margin: 10px auto; text-align: center };

    cursor: pointer !important;

    &:hover {
        background-color: deepskyblue !important;
    }

    .card-title {
      font-size: 25px;
      font-family: $headline-font;
      margin: 10px auto;
    }

    .fa {
      font-size: 25px;
    }

}

.character-card {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid lightgrey;
}
