@import "../mixins/media-query.scss";

.card-row {
  display:flex;
  flex-direction: row;
  margin-top: 20px;
  z-index: 10  ;

  @include respond-to($phone){
    display: none;
  }

}

.card {

    height: 200px;
    width:200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: $grey;
    background-size: cover !important;
    background-position: top !important;
    background-blend-mode: overlay !important;

    transition: all 400ms ;

    padding: 15px;
    margin: 10px;


    @include respond-to($phone) { margin: 0 }

    p { margin: 10px auto; text-align: center };

    cursor: pointer !important;

    &:hover {
        background-color: deepskyblue !important;
    }

    .card-title {
      font-size: 25px;
      font-family: $headline-font;
      margin: 10px auto;
    }

    .fa {
      font-size: 25px;
    }

}
