@import "../"

input[type="text"], input[type="email"],
input[type="url"], input[type="password"],
input[type="search"], input[type="number"],
input[type="tel"], input[type="range"],
input[type="date"], input[type="month"],
input[type="week"], input[type="time"],
input[type="datetime"], input[type="datetime-local"],
input[type="color"], textarea, select {

  width: 100%;
  padding: 10px 20px !important;
  font-size: 16px;
  margin: 10px auto;
  border-radius: 0px !important;
  border: 1px solid lightgrey !important;
  color: #333 !important;
  background: white !important;
  border-bottom:4px solid lightseagreen !important;
  border-left: 4px solid lightseagreen !important;

  &:focus {
    outline:none;
  }

}

label {
  color: white;
}

.control-label {
  color: white;
}

form {

    * { font-family: $button-font }

  text-align:left;
  p {
    margin: 5px auto;
  }

  label {
    font-size: 18px;
  }

  input[type=submit], button {
    background: transparent;
    box-shadow: none;
    border: 4px solid lightseagreen;
    border-radius: 0px;
    padding: 15px 25px;
    color: white;
  }
}
