@import "../mixins/media-query";


// @include respond-to($navbar-desktop) {
// 	.side-nav {
//
// 			position: absolute;
// 			top:0px;
// 			left: 0; right:0;
// 			z-index:1000;
// 			background: rgba(0,0,0,0.4);
//
// 			ul {
// 				list-style: none;
// 				margin: 0;
// 				padding: 0;
//
// 				transition: all 300ms;
// 				text-align: center;
//
// 				li {
// 					display:inline-block;
// 					 margin: 0 15px;
// 					 padding: 30px 0;
//
// 					 font-size: 20px;
// 					 border-bottom: 4px solid transparent;
//
// 					 &.current_page_item {border-color: deepskyblue;}
//
// 					 &:hover {
// 						 border-color: deepskyblue;
// 					 }
//
// 					a {
// 						text-decoration: none;
// 						font-family: $body-font;
// 						color: white;
// 					}
//
// 				}
//
// 			}
//
// 			.navbar-toggle { display: none }
//
// 	}
// }



// @include respond-to($navbar-mobile){

	.side-nav {

		position: fixed;
		left:0;
		top: 0;
		bottom: 0;
		width:146px;
		background:#333;
		transition: all 300ms ease-in-out;

		.navbar-toggle {
			height: 60px;
			width:60px;
			position:fixed;
			top:0;
			left: 0;

			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 45px;
			font-weight:bold;
			flex-direction: column;
			z-index: 100;

			cursor: pointer;

			@include respond-to($phone){
				height: 50px;
				width:50px;
				right: -50px;
			}

			.bar {
    		margin: 3px auto;
				background: white;
				display: block;
				transition: all 400ms ease-in-out;

				height: 1px;
    		width: 27px;


			}

		}

		&.closed {
			transform: translateX(-250px);
			.navbar-toggle {
				left: initial;
				right: -160px;
			}
		}

		&.open {
			.navbar-toggle {

				background:#333;

				.bar-1 {
					transform: rotate(50deg);
					transform-origin: 36%;
				}
				.bar-2 { display: none; }
				.bar-3 {
					transform: rotate(-50deg);
					transform-origin: 33%;
				}
			}
		}

		z-index: 10000;

		.menu-menu-1-container {
			height: 100%;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			height: 100%;

			display: flex;
			justify-content: center;
			// align-items: center;
			flex-direction: column;
			position: relative;

			margin-left: 20px;

			transition: all 300ms;

			// home
			li:first-of-type{
				a::before {
					content: "\f015";
					font-family: FontAwesome;
					margin-right: 20px;
				}
			}
			// book now
			li:nth-child(2){
				a::before {
					content: "\f02d";
					font-family: FontAwesome;
					margin-right: 20px;
				}
			}
			// contact
			li:nth-child(3){
				a::before {
					content: "\f003";
					font-family: FontAwesome;
					margin-right: 20px;
				}
			}
			// characters
			li:nth-child(4){
				a::before {
					content: "\f0c0";
					font-family: FontAwesome;
					margin-right: 20px;
				}
			}
			// gallery
			li:last-of-type{
				a::before {
					content: "\f03e";
					font-family: FontAwesome;
					margin-right: 20px;
				}
			}
			// pricing -- TODO: add pricing page


			li.menu-item {
				 margin: 10px 0 1px;
				 padding-bottom: 5px;
				 &:hover > a { color: white !important }
				  &.current_page_item > a { color: lightseagreen !important }

				a {
					text-decoration: none;
					font-family: $button-font;
					color: grey;

				}

			}

		}


	}

// }
