@import "../mixins/media-query";


// @include respond-to($navbar-desktop) {
// 	.side-nav {
//
// 			position: absolute;
// 			top:0px;
// 			left: 0; right:0;
// 			z-index:1000;
// 			background: rgba(0,0,0,0.4);
//
// 			ul {
// 				list-style: none;
// 				margin: 0;
// 				padding: 0;
//
// 				transition: all 300ms;
// 				text-align: center;
//
// 				li {
// 					display:inline-block;
// 					 margin: 0 15px;
// 					 padding: 30px 0;
//
// 					 font-size: 20px;
// 					 border-bottom: 4px solid transparent;
//
// 					 &.current_page_item {border-color: deepskyblue;}
//
// 					 &:hover {
// 						 border-color: deepskyblue;
// 					 }
//
// 					a {
// 						text-decoration: none;
// 						font-family: $body-font;
// 						color: white;
// 					}
//
// 				}
//
// 			}
//
// 			.navbar-toggle { display: none }
//
// 	}
// }



// @include respond-to($navbar-mobile){

	.side-nav {

		position: fixed;
		left:0;
		top: 0;
		bottom: 0;
		width:250px;
		background:lightseagreen;
		transition: all 300ms ease-in-out;

		&.closed {
			transform: translateX(-250px);
		}

		.navbar-toggle {
			height: 50px;
			width:50px;
			position:absolute;
			top:0;
			right: -50px;

			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 24px;
			font-weight:bold;
			background:lightseagreen;

			cursor: pointer;
		}

		z-index: 10000;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: relative;

			transition: all 300ms;

			li {
				 margin: 10px auto 1px;
				 padding-bottom: 5px;
				  &.current_page_item > a { color: #333 }

				a {
					text-decoration: none;
					font-family: $body-font;
					color: white;
				}

			}

		}


	}

// }
