@import "../mixins/media-query.scss";

.hero {

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  background-size: cover !important;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-position: 50%;

  min-height: 700px;

  position: relative;

  &.transparent {
    background: transparent !important;
  }

  &.margin_10 {
    margin: 10px;
  }

  .fa-arrow-down {
    position: absolute;
    font-size:25px;
    bottom: 20px;
    transition:all 400ms;
    z-index:20;

    &:hover {
      font-size: 28px;
    }
  }

  @include mobile-height;

}


.full-width {
  width: 100%;
}
  .height_30 {
    height: 30vh;
  }

  .height_50 {
    height: 40vh !important;
    @include respond-to($tablet-portrait){
      height: auto !important;
      padding:45px auto;
    }
  }

  .height_60 {
    height: 60vh;
  }

  .height_80 {
    height: 80vh;
  }

  .height_90 {
    height: 90vh;
  }

  .height_100 {
    height: 100vh !important;
    overflow:hidden;

    @include respond-to($tablet-portrait){
      height: auto !important;
      padding:90px auto;
    }
  }

  .height_auto {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
