$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


// font-family: "Holtwood One SC";
//     text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
$heading-font: 'Amatic SC', cursive;
$body-font: 'Abel', sans-serif;
// $headline-font: 'Amatic SC', sans-serif;
$headline-font: 'Holtwood One SC';

// $headline-font: "La Belle Aurore", cursive;
