@import "../mixins/media-query.scss";
@import "../mixins/helpers.scss";

.home-page {

  .section > p {
    margin-top: 0;
  }

  .gallery-section {

    h1 { color: white }

    .gallery-preview-container {

      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;

      .gallery-preview-item {

          @include background;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            top:0;left:0;right:0;bottom:0;
            background:rgba(0,0,0,0.5);
          }
      }
    }

  }

}
